h2o does not reject invalid SETTINGS_MAX_FRAME_SIZE

This is an equivalent issue to tatsuhiro-t/nghttp2#304. I found this during interop testing of hyper, using http2bin.org (which uses H2O as a reverse proxy).

Hyper incorrectly advertises SETTINGS_MAX_FRAME_SIZE of `(2^14) - 1` (16,383 bytes) (see Lukasa/hyper#148). RFC 7540 Section 6.5.2 for SETTINGS_MAX_FRAME_SIZE says:

> The initial value is 2^14 (16,384) octets. The value advertised by an endpoint MUST be between this initial value and the maximum allowed frame size (2^24-1 or 16,777,215 octets), inclusive. Values outside this range MUST be treated as a connection error (Section 5.4.1) of type PROTOCOL_ERROR.

When hyper incorrectly advertises a value outside of this range, H2O *should* tear the connection down. Instead, it ACKs the settings frame and continues without complaint.

As spotted on nghttp2, this is actually a hyper bug: it was failing to correctly emit that setting. Sorry!