301 redirect, html body necessary ?

Is the html body of a 301 redirect necessary or should H2O send only the headers? This is not a bug, just an observation.

When H2O sends a 301 redirect the packet includes the following header and html body:

```
HTTP/1.1 301 Redirected
Date: Fri, 01 May 2015 15:35:02 GMT
Server: h2o/1.2.1-alpha1
Connection: keep-alive
location: https://10.10.10.10/
content-type: text/html; charset=utf-8

<!DOCTYPE html><TITLE>Moved</TITLE><P>The document has moved <A HREF="https://10.10.10.10/">here</A>
```

We tested 10 million redirect requests using h2load and h2o. If the redirect includes the 100 bytes of html body then our system needs 127MB/s of bandwidth compared to just 27MB/s when the html body is removed from the source code. If only the headers are sent out then the content-type header could be omitted as well.

h2load test results...

test 301 redirect with default 100 byte html body.
```
./h2load -t 6 -m 16 -c 200 -n 10000000 -v http://10.10.10.10/test.txt
starting benchmark...
finished in 10.24s, 976114 req/s,  127.54MB/s
requests: 10000000 total, 10000000 started, 10000000 done, 10000000 succeeded, 0 failed, 0 errored
status codes: 0 2xx, 10000000 3xx, 0 4xx, 0 5xx
traffic: 1370056095 bytes total, 90048895 bytes headers, 1100000000 bytes data
                     min         max         mean         sd        +/- sd
time for request:      121us     18.96ms      2.31ms      1.47ms    84.40%
```


test 301 redirect with empty html body.
```
./h2load -t 6 -m 16 -c 200 -n 10000000 -v http://10.10.10.10/test.txt
starting benchmark...
finished in 9.03s, 1107264 req/s, 27.46MB/s
requests: 10000000 total, 10000000 started, 10000000 done, 10000000 succeeded, 0 failed, 0 errored
status codes: 0 2xx, 10000000 3xx, 0 4xx, 0 5xx
traffic: 260054618 bytes total, 80047418 bytes headers, 0 bytes data
                     min         max         mean         sd        +/- sd
time for request:      113us     24.25ms      2.36ms      1.33ms    77.51%
```




It's for browsers that either don't support or have automatic redirect disabled.

@Tintinabula As @retsaot suggested, it is how a HTTP server is expected to behave.

If you look at [RFC 7231 section 6.4](https://tools.ietf.org/html/rfc7231#section-6.4), you would find statements like:
> The server's response payload usually contains a short hypertext note with a hyperlink to the new URI(s).


Agreed. This bug can be closed since there is consensus.


