Max local stream count 100 exceeded

Test Case:
```
Client Jar: HTTP/2v9.3.7
Server: h2ov1.7.0
```
I am requesting about 219 resources from the server and 1 resource is being pushed. Irrespective of push or not, I have observed this issue: 

```
2016-02-24 16:09:26.794:WARN:oeju.Promise$Adapter:main: 
java.lang.IllegalStateException: Max local stream count 100 exceeded
	at org.eclipse.jetty.http2.HTTP2Session.createLocalStream(HTTP2Session.java:633)
	at org.eclipse.jetty.http2.HTTP2Session.newStream(HTTP2Session.java:443)
	at http2.client.Http2ClientBenchMark.main(Http2ClientBenchMark.java:110)
```
I did not observe this issue while using Jetty Server `v9.3.6`. I found out that h2o limits this max_concurrent_streams to 100 in the initial SETTINGS frame sent. Is there anyway I can get around this.

Here is my Jetty client code:

		for(int i=0;i<urlsListSize;i++)
		{
			
			MetaData.Request metaDataRequest = new MetaData.Request("GET", new HttpURI("https://" + host + ":" + port + urlsList.get(i).substring(urlsList.get(i).indexOf('/',8))), HttpVersion.HTTP_2, requestFields);
			//Create Headers frame
			HeadersFrame headersFrame = new HeadersFrame(metaDataRequest,null,true);

			//Listen to response frames.
			
			session.newStream(headersFrame, new Promise.Adapter<Stream>(), new Stream.Listener.Adapter()
			{
				@Override
				public void onHeaders(Stream stream, HeadersFrame frame)
				{
					System.out.println("Header frame " + frame);
					if (frame.isEndStream()) {
						System.out.println("on Headers frame end" + frame.getStreamId());
						
					}
				}

				@Override
				public void onData(Stream stream, DataFrame frame, Callback callback)
				{
					System.out.println("Data frame" + frame);
					
					callback.succeeded();
					if (frame.isEndStream()) {
						System.out.println("on data frame end" + frame.getStreamId());
					
					}
				}

				@Override
				public Stream.Listener onPush(Stream stream, PushPromiseFrame frame)
				{
			
					System.out.println("Push promise frame received);
		
					return this;
				}
			});

		}


 If I cannot get around this limitation, what could be my possible options to handle this so that all the resources are fetched without affecting the performance.

> I found out that h2o limits this max_concurrent_streams to 100 in the initial SETTINGS frame sent. Is there anyway I can get around this.

Short answer is no.
Long answer is that you could do that by changing the hard-coded value, but even then, the upper bound will be 256.

> If I cannot get around this limitation, what could be my possible options to handle this so that all the resources are fetched without affecting the performance.

__It is the client's responsibility__ _not_ to open more than the specified number of streams at once.  You should consult Jetty's documentation (or source code) to determine how you should do it.

> Short answer is no.
Long answer is that you could do that by changing the hard-coded value, but even then, the upper bound will be 256.

Can you guide me where is this value hard-coded if I'd want to go that way. Secondly, may I know why the upper bound will be limited to 256. Is that defined by specs? I suppose for Jetty it is 1024, although I can configure it to  h2o to be fair in my test cases: [Jetty http2 configuration](http://www.eclipse.org/jetty/documentation/current/http2-configuring.html) . 
PS: I am just trying to learn as much as I can about http/2.

> It is the client's responsibility not to open more than the specified number of streams at once. You should consult Jetty's documentation (or source code) to determine how you should do it.

As new streams are just asynchronous calls in a loop as a quick fix, thanks to java concurrency classes, I can limit them programmatically to 100. Will that be correct?

> Can you guide me where is this value hard-coded if I'd want to go that way.

It's https://github.com/h2o/h2o/blob/v1.7.0/lib/http2/connection.c#L40 and https://github.com/h2o/h2o/blob/v1.7.0/lib/http2/connection.c#L50.

> Secondly, may I know why the upper bound will be limited to 256.

IIRC some parts of the code uses an 8-bit value to identify the stream.

Note that generally speaking, restricting the resource (e.g. file descriptor) allocatable to a single connection is a good thing to do in terms of preventing DoS attacks.

>> It is the client's responsibility not to open more than the specified number of streams at once. You should consult Jetty's documentation (or source code) to determine how you should do it.
> 
> As new streams are just asynchronous calls in a loop as a quick fix, thanks to java concurrency classes, I can limit them programmatically to 100. Will that be correct?

I'd assume that either of the following would be the case:
* a) there's a way to instruct Jetty (as a HTTP/2 client) to restrict the number of open streams to the value of `MAX_CONCURRENT_STREAMS` presented by the server
* b) Jetty provides an API for obtaining the value of `MAX_CONCURRENT_STREAMS` so that applications can refer to the value

It is a requirement for a HTTP/2 client implementation to respect `MAX_CONCURRENT_STREAMS` once it arrives (see [RFC 7540 section 5.1.2](http://http2.github.io/http2-spec/index.html#rfc.section.5.1.2)), and a server is allowed to change the value at many time.  Note that it is a good practice for a client implementation to not open more than 100 streams before it receives the first `SETTINGS` frame; 100 is the lower-bound of `MAX_CONCURRENT_STREAMS` suggested by the specification (see [section 6.5.2](http://http2.github.io/http2-spec/index.html#rfc.section.6.5.2)).