How padding is handled in h2o?

Hi,

Recently, I'm working with a HTTP/2 client, and I want to implement padding feature. However, I find that different servers handle padding in different ways.

For example, in NGINX, once it receives a DATA frame with PADDED flag, it will discard the padding part. And the size of the receive window it consumes is the length of the actual data part. ([ngx_http_v2.c: ngx_http_v2_state_data(...)](https://github.com/nginx/nginx/blob/master/src/http/v2/ngx_http_v2.c#L750))

DATA frame:
```
+---------------+
|Pad Length? (8)|
+---------------+-----------------------------------------------+
|                            Data (*)                         ...
+---------------------------------------------------------------+
|                           Padding (*)                       ...
+---------------------------------------------------------------+
```

In h2o, when calculating the size of the consumed receive window, it seems that h2o includes all the payload (= 1 byte of pad length field + data part + padding part).

I don't know whether we should account for HTTP/2 padding in session & stream receive windows. In RFC 6540, I also don't find anything about this. Because the client needs to maintain the status of the receive window of the server, I have to figure this problem out. Thus, I'm here seeking help. Many thanks!

Regards,

Shengtuo Hu

------

In [connection.c: line 460](https://github.com/h2o/h2o/blob/f17adcb14449f8e6d69cd523ab5f58686f3df1e7/lib/http2/connection.c#L460), h2o invokes function [`h2o_http2_decode_data_payload`](https://github.com/h2o/h2o/blob/a5723300a011307b158e80f63845275a6093d061/lib/http2/frame.c#L140) and extracts the actual data field in DATA frame.

As we can see, if this frame carries PADDED flag, the actual payload length is `frame->length - (1 + padding_length)`.

```
...
payload->data = frame->payload + 1;
payload->length = frame->length - (1 + padding_length);
...
```

Then, a buffer with the length of `payload->length` is reserved ([connection.c: line 485](https://github.com/h2o/h2o/blob/f17adcb14449f8e6d69cd523ab5f58686f3df1e7/lib/http2/connection.c#L485)).

```
...
h2o_iovec_t buf = h2o_buffer_reserve(&stream->_req_body, payload.length);
if (buf.base != NULL) {
    memcpy(buf.base, payload.data, payload.length);
    stream->_req_body->size += payload.length;
    /* handle request if request body is complete */
    if ((frame->flags & H2O_HTTP2_FRAME_FLAG_END_STREAM) != 0) {
        stream->req.entity = h2o_iovec_init(stream->_req_body->bytes, stream->_req_body->size);
        execute_or_enqueue_request(conn, stream);
        stream = NULL; /* no need to send window update for this stream */
    }
...
}
```

At last, once we receive all the DATA frame, we will update the window size ([connection.c: line 504](https://github.com/h2o/h2o/blob/f17adcb14449f8e6d69cd523ab5f58686f3df1e7/lib/http2/connection.c#L504)).

```
...
/* consume buffer (and set window_update) */
update_input_window(conn, 0, &conn->_input_window, frame->length);
if (stream != NULL)
    update_input_window(conn, stream->stream_id, &stream->input_window, frame->length);
...
```

However, the size of the buffer we consumed might not equal with `frame->length`, if the frame carries the PADDED flag.

@h1994st 
> I don't know whether we should account for HTTP/2 padding in session & stream receive windows. In RFC 6540, I also don't find anything about this.

I believe what you are looking for is the sentence quoted below (and H2O is conformant to the specification).
> DATA frame payload is included in flow control, including the Pad Length and Padding fields if present.
> _[RFC 7540 section 6.1](http://http2.github.io/http2-spec/index.html#DATA)_

Thank you! I'm sorry for my carelessness that I didn't see that sentence.


> On 2015年12月31日, at 17:43, Kazuho Oku <notifications@github.com> wrote:
> 
> @h1994st
> 
> I don't know whether we should account for HTTP/2 padding in session & stream receive windows. In RFC 6540, I also don't find anything about this.
> 
> I believe what you are looking for is the sentence quoted below (and H2O is conformant to the specification).
> 
> DATA frame payload is included in flow control, including the Pad Length and Padding fields if present.
> RFC 7540 section 6.1
> 
> —
> Reply to this email directly or view it on GitHub.
> 
