h2o rejects an HTTP/2 request without :authority but host

Since 1187a9973e53782970e04491f558ab17585fd685, h2o rejects the following rather valid HTTP/2 request:

```
:method: GET
:path: /
:scheme: https
host: 127.0.0.1:8081
```

RFC 9113 still calls this request valid.


Thank you for reporting the issue. I do not recall that change being intentional, we might want to go back to the original behavior. That said,

> RFC 9113 still calls this request valid.

I think I disagree.

[RFC 9113 section 8.3.1](https://www.rfc-editor.org/rfc/rfc9113#name-request-pseudo-header-field):
_Clients that generate HTTP/2 requests directly MUST use the ":authority" pseudo-header field to convey authority information, unless there is no authority information to convey (in which case it MUST NOT generate ":authority")._
_(snip)_
_An intermediary that needs to generate a Host header field (which might be necessary to construct an HTTP/1.1 request) MUST use the value from the ":authority" pseudo-header field as the value of the Host field, unless the intermediary also changes the request target. This replaces any existing Host field to avoid potential vulnerabilities in HTTP routing._

Notice the use of MUSTs. It would be my interpretation that now clients are required to use `:authority` (rather than recommended), and therefore that servers can reject requests that do not use the `:authority` header field. Though I could be missing a separate clause that specifies how a server should treat such requests.

This is different from RFC 7540 that states: _clients that generate HTTP/2 requests directly SHOULD use the ":authority" pseudo-header field instead of the Host header field._

@kazuho Please read the discussion https://lists.w3.org/Archives/Public/ietf-http-wg/2022AprJun/0275.html


@tatsuhiro-t Thank you for the pointer. Responded there, I have not been following that discussion.

The case in my mind is an origin form HTTP/1.1 request proxied over HTTP/2.  The control data is defined in https://datatracker.ietf.org/doc/html/rfc9110#section-6.2 and it does not include Host header field.  Because this is origin form, no authority in request line.  So the statement after "unless" applies: unless the original request's target URI does not contain authority information (in which case it MUST NOT generate ":authority").