Feature request: gzip Transfer-Encoding for HTTP/1.1 responses

I would like [H2O](https://h2o.examp1e.net) to be able to send responses compressed with gzip. Lots of webservers (mis)use Content-Encoding: for this; however, a web proxy should not change the content encoding.

I would like to be able to operate H2O as a reverse proxy and, for HTTP/1.1 connections, apply gzip [Transfer-Encoding](https://tools.ietf.org/html/rfc2616#section-14.41) even if the origin server has sent an uncompressed response.

For background on why Transfer-Encoding rather than Content-Encoding, see http://stackoverflow.com/a/11664307

@isoma0 Thank you for the suggestion.

Regarding the use of Content-Encoding header for on-the-fly compression, I agree that it is a workaround.  It has a unfortunate side-effect that it cannot be used together with ranged requests.  In case of H2O, `accept-ranges: none` is set in case on-the-fly compression is applied, to indicate the client that the origin is not willing to accept ranged request.  It might be better to also drop range-related request headers if the on-the-fly compression handler is enabled.

Regarding adding support for `Transfer-Encoding: gzip`, a server should only use a transfer-encoding other than chunked if client-side support for the encoding is indicated by the TE request header (
e.g. use `Transfer-Encoding: gzip, chunked` only when `TE: gzip` request header exists).  Quoting from [RFC 7230 section 4.3](https://tools.ietf.org/html/rfc7230#section-4.3):
>  The "TE" header field in a request indicates what transfer codings, besides chunked, the client is willing to accept in response, and whether or not the client is willing to accept trailer fields in a chunked transfer coding.

However, I do not know any client that sends such TE header.  Therefore, I believe it is practically worthless at the moment to provide support for `Transfer-Encoding :gzip`.

Libcurl / curl has support for Transfer-Encoding: gzip

I do not know if any graphical web browsers have similar support.

The main reason for my logging this feature request ticket was so that I could reference it in my own “To Do” list; however, I don't have any plan to start work on that yet.


@isoma0 Thank you for the response.

It's great to know that at least curl supports TE: gzip.  If that the case, it would definitely be a good thing to have support for gzip over Transfer-Encoding.